---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import Hero from '../components/Hero.astro';
import Feature from '../components/Feature.astro';
import Counter from '../components/Counter.astro';
import ContentMedia from '../components/ContentMedia.astro';
---

<DefaultLayout title='Home'>
  <Hero />
  <section class='my-64'>
    <div class='container'>
      <h2 class='mb-16 text-6xl'>What we do</h2>
      <div class='grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3'>
        <Feature icon='mdi:square-opacity' title='BRANDING'>
          Emotion, purpose, values, vison - all the buzzwords and logos too!
        </Feature>
        <Feature icon='mdi:nature-people' title='EVENTS & ACTIVATIONS'>
          Real life is still a thing (for now), and real humans interact in physical space.
        </Feature>
        <Feature icon='mdi:brain' title='STRATEGIC CREATIVE'>
          Concept development for campaigns, products, experiences, art direction ... you know, ideas.
        </Feature>
        <Feature icon='mdi:book-open-page-variant' title='GRAPHIC DESIGN'>
          The practice or profession of designing print or electronic forms of visual information, as for an
          advertisement, publication, or website. Apparently, according to thefreedictionary.com
        </Feature>
        <Feature icon='mdi:unicorn' title='UX/UI'>
          What does it mean? No-one really knows and if they do someone will disagree. But we are pretty sure we do it.
        </Feature>
        <Feature icon='mdi:creation' title='MISC...'>
          Video production, animation, social media, websites, print, popups etc.
        </Feature>
      </div>
    </div>
  </section>
  <ContentMedia imgSrc='/accessible-components.webp'>
    <h2>Accessible Components</h2>
    <p class='text-2xl'>
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href='https://github.com/markteekman/accessible-astro-components'
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc='/wcag-compliant.webp' reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class='text-2xl'>
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class='mb-32 mt-64'>
    <div class='container'>
      <h2 class='mb-16 text-6xl'>Counters</h2>
      <div class='grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4'>
        <Counter count='130' title='Stars' sub='On GitHub' />
        <Counter count='17' title='Accessible' sub='Components' />
        <Counter count='500' title='Commits' sub='Merged' />
        <Counter count='18+' title='Months' sub='Since launch' />
      </div>
    </div>
  </section>
  
</DefaultLayout>
