<div class='container'>
  <div class='call-to-action mb-32 mt-24 flex flex-col items-center gap-12 rounded-xl p-12 md:p-24'>
    <h2 class='text-center text-3xl md:text-5xl'>Get this theme on GitHub</h2>
    <a href='https://github.com/markteekman/accessible-astro-starter' class='text-center text-lg'> Use this theme</a>
  </div>
</div>
